/**{
	border: 1px solid red;
}*/

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: 'Montserrat', sans-serif;
}


.navbar-nav .nav-link {
  color: var(--secondary-color);
  margin-left: 20px;
  margin-top: 20px;
}

.navbar-collapse {
	margin-left: 70px;
	font-size: 18px;
}


.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  border-radius: 50%;
  border: black solid 1px;
  width: 65px;
  height: 65px;
  font-size: 25px;
  font-family: sans-serif;
  margin-left: 225px;
  margin-top: 10px;
  font-weight: bold;
 }

.logo {
    cursor: pointer;
    position: relative;
    z-index: 0;
}

.logo:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    border-radius: 50%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.logo:active {
    color: black;
}

.logo:active:after {
    background: transparent;
}

.logo:hover:before {
    opacity: 1;
}

.logo:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: black;
    border: white 2px solid;
    left: 0;
    top: 0;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}


.nav-link {
	padding: 0px;
}

.nav-link {
	background-image: linear-gradient(
		to bottom,
		transparent 0%,
		transparent 94%,
		var(--secondary-color) 100%

	);
	background-repeat: no-repeat;
	background-size: 0% 100%;
	background-position-x: left;
	transition: background-size 400ms;
}

.nav-link:hover {
	background-size: 100% 100%;
	background-position-x: left;
}

.tagline {
	margin-top: 120px;
	text-align: left;
	line-height: 60px;
	font-size: 55px;
	font-weight: bold;
}

.tagline span {
	display: inline-block;
	opacity: 0;
	transform: translateY(50%);
	animation: anim-lineUp 1s ease-out forwards;
}

.tagline span:nth-child(1) {
	animation-delay: 0s;
}

.tagline span:nth-child(2) {
	animation-delay: 0.1s;
}

.tagline span:nth-child(3) {
	animation-delay: 0.2s;
}

.tagline span:nth-child(4) {
	animation-delay: 0.3s;
}

.tagline span:nth-child(5) {
	animation-delay: 0.4s;
}

.tagline span:nth-child(6) {
	animation-delay: 0.5s;
}

.tagline span:nth-child(7) {
	animation-delay: 0.6s;
}
.tagline span:nth-child(8) {
	animation-delay: 0.7s;
}
.tagline span:nth-child(9) {
	animation-delay: 0.8s;
}
.tagline span:nth-child(10) {
	animation-delay: 0.9s;
}
.tagline span:nth-child(11) {
	animation-delay: 1s;
}

@keyframes anim-lineUp {

	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}


.taglinesub {
	text-align: left;
	font-size: 20px;
	margin-top: 30px;
}

h3 {
	background-color: var(--secondary-color);
	border-radius: 50%;
	width: 85px;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  font-size: 15px;
  font-weight: bold;
  position: relative;
  z-index: 2;
  margin-top: 22px;
  margin-left: 8px;
}

h3:hover {
	background-color: var(--primary-color);
	border: var(--secondary-color) solid 2px;
	color: var(--secondary-color);
	cursor: pointer;
}


.svgSpin {
	width: 130px;
	height: 130px;
	position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  animation: spin 9s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(-360deg);
  }
}

.col-1 {
	margin-top: 520px;
	margin-left: 35px;
}

.col-1 a{
	text-decoration: none;
}

.col-2 {
	padding-right: 35%;
	margin-left: -25px;
}

#icon {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	cursor: pointer;
	margin-left: 600px;
}

:root {
	--primary-color: white;
	--secondary-color: rgba(0, 0, 0, 0.86);
}

.darkMode {
	--primary-color: rgba(0, 0, 0, 0.86);
	--secondary-color: white;
}

.signature {
	font-family: sarina;
	width: 350px;
	margin-left: 100px;
}

.picformal {
	width: 350px;
	box-shadow: 10px 10px 5px var(--secondary-color);
	border: var(--secondary-color) 2px solid;
	border-radius: 5%;
	margin-left: 150px;
	padding: 20px
}


.aboutTitle {
	margin: 20px;
	font-size: 70px;
	font-weight: bolder;
	text-align: center;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3s linear infinite;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
}

.bioTitle {
	font-weight: bold;
	font-size: 10px;
}

.row-bio {
	margin-left: 8%;
	margin-right: 8%;
	padding-top: 40px;
}

.col-about {
	margin-top: 5%;
}

.skillsTitle {
	font-weight: bold;
	font-size: 20px;
	margin-left: 15px;
}

.col-skills {
	font-weight: bold;
}

.col-skills p {
	background-color: var(--secondary-color);
	color: var(--primary-color);
	border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
}

.col-skills img {
	width: 30px;
}

.row-skills {
	margin-left: 1px;
	margin-right: 1px;
	padding-top: 10px;	
	overflow: hidden;
}

.slideshow {
  white-space: nowrap;
  margin-bottom: 70px; 
  animation: moveSlideshow 23s linear infinite;
}

.slideshow p {
  display: inline-block; 
  scale: 80%;
}

.slideshow p img {
  vertical-align: middle; 
}


@keyframes moveSlideshow {
  100% { 
    transform: translateX(-169%);  
  }
} 

#projectpage {
	padding: 100px;
}


.projectTitle {
	margin: 20px;
	font-size: 70px;
	font-weight: bolder;
	text-align: center;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3s linear infinite;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
}

.card-1 {
	padding: 20px;
	box-shadow: 10px 10px 5px var(--secondary-color);
	border: var(--secondary-color) 2px solid;
	border-radius: 20px;
	margin-top: 20px;
	margin-left: 50px;
	padding: 40px;
	background-color: rgba(0, 0, 0, 0.10);
}


.card {
	padding: 20px;
	box-shadow: 10px 10px 5px var(--secondary-color);
	border: var(--secondary-color) 2px solid;
	border-radius: 20px;
	margin-top: 20px;
	margin-left: 50px;
	padding: 40px;
	background-color: rgba(0, 0, 0, 0.10);
	height: 27rem;
}

.card-title {
	font-weight: bold;
	font-size: 30px;
}

.soontitle {
	font-weight: bolder;
	text-align: center;
	margin-top: 40px;
}

.soon-row{
	display: flex;
}


.zurich-card a {
	color: var(--secondary-color);
}


#contactpage {
	margin: 180px;
	padding-top: 30px;
}

.social-icons a {
	color: var(--secondary-color);
	font-size: 35px;
	text-decoration: none;
	transition: transform 0.5s;
	display: inline-block;
	margin-right: 10px;
}

.social-icons a:hover {
	transform: translateY(-5px);
	color: red;
}

.contact-right textarea {
	max-height: 150px;
}

.contact-left h1 {
  color: var(--secondary-color);
  font-size: 3rem;
  font-weight: 100;
  line-height: 1.5;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: 550px;
  display: inline-block;
}

.contact-left h1 span {
  font-size: 40px;
  margin-left: 140px;
  display: inline-block;
}

.message {
  background-color: yellow;
  color: #333;
  display: block;
  font-weight: 900;
  overflow: hidden;
  position: absolute;
  padding-left: 0.5rem;
  top: 0.2rem;
  left: 270px;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: openclose 5s ease-in-out infinite, textclip 3s linear infinite;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.word1 {
  font-family: tahoma;
}

.word2 {
  font-family: tahoma;
  animation-delay: 1s;
}

.word3 {
  font-family: tahoma;
  animation-delay: 2s;
}

@keyframes openclose {
  0% {
    top: 0.2rem;
    width: 0;
  }
  5% {
    width: 0;
  }
  15% {
    width: 230px;
  }
  30% {
    top: 0.2rem;
    width: 230px;
  }
  33% {
    top: 0.2rem;
    width: 0;
  }
  35% {
    top: 0.2rem;
    width: 0;
  }
  38% {
    top: -4.5rem;
    
  }
  48% {
    top: -4.5rem;
    width: 190px;
  }
  62% {
    top: -4.5rem;
    width: 190px;
  }
  66% {
    top: -4.5rem;
    width: 0;
    text-indent: 0;
  }
  71% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }
  86% {
    top: -9rem;
    width: 285px;
  }
  95% {
    top: -9rem;
    width: 285px;
  }
  98% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }
  100% {
    top: 0;
    width: 0;
    text-indent: 0;
  }
}

.btn {
    width: 120px;
    height: 50px;
    border: none;
    outline: none;
    color: var(--primary-color);
    background: var(--secondary-color);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.btn:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.btn:active {
    color: #000;
}

.btn:active:after {
    background: transparent;
}

.btn:hover:before {
    opacity: 1;
}

.btn:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--secondary-color);
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

#msg {
	color: #61b752;
	display: block;
	margin-top: 10px;
}